#draw{
/* display: inline-block; */
margin-left:180px;
margin-top:99px;
}

#button1 {
    position: absolute;
    top: 55px;
    left: 5px;
}
#button2{
    position: absolute;
    top: 135px;
    left: 5px;
}

#button3 {
    position: absolute;
    top: 215px;
    left: 5px;
}

#button4 {
    position: absolute;
    top: 355px;
    left: 5px;
}
#button5{
    position: absolute;
    top: 435px;
    left: 5px;
}

#button6 {
    position: absolute;
    top: 515px;
    left: 5px;
}



#button7 {
    position: absolute;
    top: 55px;
    left: 1395px;
}
#button8{
    position: absolute;
    top: 135px;
    left: 1395px;
}

#button9 {
    position: absolute;
    top: 215px;
    left: 1395px;
}

#button10 {
    position: absolute;
    top: 295px;
    left: 1395px;
}


#save {
    position: absolute;
    top: 765px;
    left: 1395px;
}
/* table{
    background-color: yellow;
    border: maroon solid 3px;
    width: 50%;
}

td{
    border: maroon solid 1px;
   } */

/* 
   #general{
    width: 85vw;
    height: 50vh;
    border: 2px solid burlywood;
    background-color: antiquewhite;
    border-radius: 10px; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
}

#header{
    background-color: burlywood;
    padding-top: 10px;
    color: white;
}

#header h2{
    padding-bottom: 15px;
    margin-top: 10px;
  }

#mistake{
    color: red;
    margin-top: 10px;
}
#reStart{
    position: absolute;
    margin-top: 245px;
    margin-left: 250px;
}
#win{
    color: red;
    margin-top: 10px;
} */

/* #general{
    width: 35vw;
    height: 65vh;
    border: 2px solid burlywood;
    background-color: antiquewhite;
    border-radius: 10px; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#header{
    background-color: burlywood;
    padding-top: 10px;
    color: white;
}

#header h2{
    padding-bottom: 15px;
    margin-top: 10px;
}
#resulr h1{
    width: 300px;
    height: 35px;
    margin-top:-5px;
    background-color: rgb(255, 255, 255);
}
#sum{
    width: 50px;
    height: 35px;
    color: rgb(131, 13, 13);
    margin-bottom: -100px;
}
#reStart{
margin-left: 625px;
} */